# Set - stores only unique elements in an unordered way.

In [45]:
#EMPTY SET

# Since set and dictionary use the same brackets {} we have to see how we create an empty set.
# By default a = {} will be a dictionary so to make an empty set we have use a = set()
a = {}
print(type(a))
a = set()
print(type(a))

<class 'dict'>
<class 'set'>

In [1]:
# set also uses {} but only has keys no values
a = {1,2,"abc",4,"d"}
print(a)

{1, 2, 4, 'd', 'abc'}

In [2]:
print(type(a))

<class 'set'>

In [ ]:
# Sets are unorder and have no indexing to access elements of the set

In [3]:
len(a)

5

In [4]:
print(a)

{1, 2, 4, 'd', 'abc'}

#####  Add function

In [5]:
a.add("def")
print(a)

{1, 2, 4, 'd', 'abc', 'def'}

##### Remove - if the key is there it removes it else gives an errorw

In [6]:
a.remove("abc")
print(a)

{1, 2, 4, 'd', 'def'}

##### Discard - if the key is there it removes it else does nothing

In [7]:
print(a)
a.discard(1)
print(a)
a.discard(100)
print(a)

{1, 2, 4, 'd', 'def'}
{2, 4, 'd', 'def'}
{2, 4, 'd', 'def'}

##### pop function - it removes and returns a random element from the set.

In [9]:
a.pop()

2

##### Checking if present

In [8]:
23 in a

False

##### clear and delete

In [10]:
a.clear()
a

set()

In [11]:
del a

### SOME FUNCTION IN SET CLASS ONLY

In [15]:
a = {1,2,3,4}
b = {3,4,5,6}

In [17]:
a.intersection(b)

{3, 4}

In [18]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [19]:
a.difference(b)

{1, 2}

In [20]:
b.difference(a)

{5, 6}

In [21]:
a.symmetric_difference(b)   #union of a.difference(b) and b.difference(a)

{1, 2, 5, 6}

In [22]:
#ALL THE ABOVE DO NOT CHANGE a OR b.
#We can however update the too.
# we can update for intersection,difference,and symmetric difference

In [24]:
a = {1,2,3,4}
b = {3,4,5,6}
a.intersection_update(b)
print(a)

{3, 4}

In [27]:
a = {1,2,3,4}
b = {3,4,5,6}
a.difference_update(b)
print(a)

{1, 2}

In [28]:
a = {1,2,3,4}
b = {3,4,5,6}
a.symmetric_difference_update(b)
print(a)

{1, 2, 5, 6}

##### Some more functions in set

##### 1.)issubset

In [30]:
a = {1,2,3,4}
b = {3,4,5,6}

In [31]:
a.issubset(b)

False

In [32]:
b.issubset(a)

False

In [34]:
c = {3,4}
c.issubset(a)

True

In [35]:
a.issubset(c)

False

##### 2.)issuperset

In [36]:
a.issuperset(c)

True

In [37]:
c.issuperset(a)

False

##### 3.)isdisjoint

In [40]:
a.isdisjoint(b)

False

In [41]:
a.isdisjoint(b)

False

In [42]:
d = {7,8}
a.isdisjoint(d)

True

In [43]:
d.isdisjoint(a)

True

##### _____________________________________

Q.)Find sum of all unique elements in a list (taking only one occurence of an element)

In [48]:
def uniqueSum(l):
    s = set()
    for i in l:
        s.add(i)
    sum = 0
    for i in s:
        sum+=i
    return sum

l = [int(i) for i in input().split()]
print("sum = ",uniqueSum(l),end=" ")

1 2 3 1 1 5 6 8 2 3
sum =  25