Q1.)Square Pattern

In [1]:
n = int(input())
i = 1
while(i<=n):
    j = 1
    while(j<=n):
        print(n,end="")
        j+=1
    i+=1
    print()

4
4444
4444
4444
4444

Q2.)Triangular Star Pattern

In [5]:
n = int(input())
i = 1
while(i<=n):
    j = 1
    while(j<=i):
        print('*',end="")
        j+=1
    i+=1
    print()

4
*
**
***
****

Q3.)Triangle Number Pattern

In [6]:
n = int(input())
i = 1
while(i<=n):
    j = 1
    while(j<=i):
        print(i,end="")
        j+=1
    i+=1
    print()

4
1
22
333
4444

Q4.)Reverse Number Pattern

In [7]:
n = int(input())
i = 1
while(i<=n):
    j = i
    while(j>=1):
        print(j,end="")
        j-=1
    i+=1
    print()

4
1
21
321
4321

Q5.)Alpha Pattern

In [17]:
n = int(input())
i=1
k=65
while(i<=n):
    j=1
    while(j<=i):
        print(chr(k),end="")
        j+=1
    k+=1
    i+=1
    print()

3
A
BB
CCC

Q6.)Character Pattern

In [20]:
n = int(input())
i=0
k=65
while(i<n):
    j=0
    k = 65+i
    while(j<=i):
        print(chr(65+i+j),end="")
        j+=1
    i+=1
    print()

4
A
BC
CDE
DEFG

Q7.)Interesting Alphabets

In [24]:
n = int(input())

i = n
while(i>=1):
    k = 65+i-1
    j=n
    while(j>=i):
        print(chr(k),end="")
        k+=1
        j-=1
    print()
    i-=1

5
E
DE
CDE
BCDE
ABCDE

Q8.)Inverted Number Pattern

In [28]:
n = int(input())
i = n
while(i>=1):
    j=1
    while(j<=i):
        print(i,end="")
        j+=1
    print()
    i-=1

4
4444
333
22
1

Q9.)Mirror Number Pattern

In [5]:
n = int(input())
i=1
while(i<=n):
    j = 1
    while(j<=n-i):
        print(" ",end="")
        j+=1
    j=1
    while(j<=i):
        print(j,end="")
        j+=1
    i+=1
    print()

4
   1
  12
 123
1234

Q10.)Star Pattern

In [4]:
n = int(input())
i=1
while(i<=n):
    j = 1
    while(j<=n-i):
        print(" ",end="")
        j+=1
    j=1
    while(j<=i):
        print('*',end="")
        j+=1
    j-=2
    while(j>=1):
        print('*',end="")
        j-=1
    i+=1
    print()

4
   *
  ***
 *****
*******

Q11.)Triangle of Numbers

In [6]:
n = int(input())
i=1
while(i<=n):
    j = 1
    while(j<=n-i):
        print(" ",end="")
        j+=1
    j=1
    k=i
    while(j<=i):
        print(k,end="")
        k+=1
        j+=1
    k-=2
    j=1
    while(j<i):
        print(k,end="")
        j+=1
        k-=1
    i+=1
    print()

4
   1
  232
 34543
4567654

Q12.)Diamond of stars

In [10]:
n = int(input())
up = (n+1)//2
down = n//2

i = 1
while(i<=up):
    j=1
    while(j<=up-i):
        print(" ",end="")
        j+=1

    j=1
    while(j<=(2*i)-1):
        print("*",end="")
        j+=1
    print()
    i+=1

i=down
while(i>=1):
    j=1
    while(j<=(down-i+1)):
        print(" ",end="")
        j+=1
    j=1
    while(j<=(2*i)-1):
        print("*",end="")
        j+=1
    i-=1
    print()

5
  *
 ***
*****
 ***
  *

Q12.)Alternate solution

In [ ]:
import math
n = int(input())
rows = math.ceil(n/2)

i = 1

while(i<=rows):
    j=i
    while(j<rows):
        print(" ",end="")
        j+=1
    j=1
    while(j<=i):
        print("*",end="")
        j+=1
    j=1
    while(j<i):
        print("*",end="")
        j+=1
    print()
    i+=1

rows = n-i+1
i=1
while(i<=rows):
    j=1
    while(j<=i):
        print(" ",end="")
        j+=1
    j=rows
    while(j>=i):
        print("*",end="")
        j-=1
    j=rows-1
    while(j>=i):
        print("*",end="")
        j-=1
    i+=1
    print()